{% extends 'base.html.twig' %}

{% block title %}Ligue index{% endblock %}

{% block body %}
    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/f/fe/Logo_Betclic_2019.svg/1200px-Logo_Betclic_2019.svg.png">
    <h1>Notre site de paris pour les nuls</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date_creation</th>
            </tr>
        </thead>
        <tbody>
        {% for ligue in ligues %}
            <tr>
                <td>{{ ligue.id }}</td>
                <td>{{ ligue.nom }}</td>
                <td>{{ ligue.dateCreation ? ligue.dateCreation|date('Y-m-d H:i:s') : '' }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ligue_new') }}">Create new</a>
{% endblock %}
